# Visual Studio
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Compiled Objects
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Libraries
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# Unreal Engine Generated Folders
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Exceptions for Build folder
!Build/*/
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# User-specific settings & caches
*.iml
*.ipr
*.iws

# Ignore precompiled assets that aren’t raw sources
SourceArt/**/*.png
SourceArt/**/*.tga